header {
    min-height: 80px
}

#main-title {
    font-size: 1.7em;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    margin-left: 2%;
    margin-bottom: 2%
}

main {
    background-color: lightsteelblue;
    min-height: 600px
}

footer {
    background-color: steelblue;
    text-align: center
}