<div style="padding-left: 20px; padding-top: 5px">
    <img src="./assets/images/libs-logos/HTML5_logo_and_wordmark.svg.png" alt="html" width="80px" height="84px">
    <span><h3 style="display: inline-block">&nbsp;&nbsp;&nbsp;Test</h3></span>
    <dl>
    <br>
     {{#each html-test}}
        <dt>{{ question }}</dt>
        {{#each this.answers}}
            <dd>&nbsp;&nbsp;&nbsp;<input name="{{ ../question }}" type="radio">&nbsp;{{ this }}</dd>
        {{/each}}<br>
    {{/each}}
    </dl>  
</div>