<style>
    .choise-container {
        border: 2px solid black;
        display: block;
        min-height: 80px;
        text-align: center;
        padding-top: 15px;
        margin: 5px;
    }
    
    .choise-container:hover {
        background-color: lightgrey;
    }
</style>
<div style="max-width: 30%;">
    {{#each logo}}
    <div id="{{ name }}" class="choise-container">
        {{#if html}}
        <div style="float: right">
            <img class="main-logged-obj" src="{{ path }}" alt="{{ name }}" style=" width: 13%">
            <h4 class="ctx-obj">It was popularised in the 1960s.</h4>
        </div>
        {{else}}
        {{/if}} {{#unless html}}
        <div>
            <img class="main-logged-obj" src="{{ path }}" alt="{{ name }}" style="width: 10%">
            <h4 class="ctx-obj">It was popularised in the 1960s.</h4>
        </div>
        {{/unless}}
    </div>
    {{/each}}
</div>