<div style="padding-left: 20px">
    <p style="margin-left: 20px;">
        <h2 align="center">Wellcome!</h2>
        <h3 align="center">This application helps you in learning web with HTML5 and JavaScript.</h3>
        <h3 align="center">With this application you can test your web knowlage and skills.</h3><br>
        <h4 align="center" style="text-decoration: underline">It includes tests, tasks and dictionary about web technologies like:</h4>
        <ul align="center">
            <li>
                <h4>HTML, CSS, Bootstrap, LESS, SASS, Stylus</h4>
            </li>
            <li>
                <h4>JavaScript, JQuery, TypeScripr, Angular, React</h4>
            </li>
            <li>
                <h4>Node.js, Express</h4>
            </li>
            <li>
                <h4>MongoDB, Mongoose</h4>
            </li>
        </ul><br><br>                           
        <h4 align="center">Registration is free and required because of feedback.</h4>
    </p>
</div>