<nav class="navbar navbar-inverse navbar-static-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">
				<img id="brand" alt="Brand" src="./assets/images/icon-36x36.png">
				<a id="main-logo-name" class="navbar-brand">WebDJs&nbsp;&nbsp;&nbsp;</a>
			</a>
			<button class="btn btn-success navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
		</div>
		<div class="navbar-collapse navHeaderCollapse">
			<ul class="nav navbar-nav navbar-right">
				<li id="login" class="nav">
					<a class="btn dropdown-toggle" data-toggle="dropdown">Log In</a>
					<div class="dropdown-menu">
						<div class="log-in-form">
							<div class="log-form">
								<h1>Log In</h1>
								<hr>
								<div class="form-group">
									<label for="tb-username-log">Username: </label>
									<div class="input-group">
										<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
										<input id="tb-username-log" type="text" class="form-control">
									</div>
								</div>
								<div class="form-group">
									<label for="tb-password-log">Password: </label>
									<div class="input-group">
										<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
										<input id="tb-password-log" type="password" class="form-control">
									</div>
								</div>
								<a href="#/main/login" class="btn btn-success" id="btn-login">Log In</a>
							</div>
						</div>
					</div>
				</li>
				<li id="register" class="nav">
					<a class="btn dropdown-toggle" data-toggle="dropdown">Register</a>
					<div class="dropdown-menu">
						<div class="register-form">
							<div class="log-form">
								<h1>Register</h1>
								<hr>
								<div class="form-group">
									<label for="tb-username glyphicon glyphicon-user">Username: </label>
									<div class="input-group">
										<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
										<input id="tb-username" type="text" class="form-control">
									</div>
								</div>
								<div class="form-group">
									<label for="tb-passworn">Password: </label>
									<div class="input-group">
										<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
										<input id="tb-password" type="password" class="form-control">
									</div>
								</div>
								<div class="form-group">
									<label for="tb-passworn-confirm">Confirm Password: </label>
									<div class="input-group">
										<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
										<input id="tb-password-confirm" type="password" class="form-control">
									</div>
								</div>
								<a href="#/main/register" class="btn btn-primary" id="btn-register" onclick="this.blur();">Sign Up</a>
							</div>
						</div>
					</div>
				</li>
				<li id="profile" class="nav invisible">
					<a id="btn-profile" href="#/profile" class="btn">Username</a>
				</li>
				<li id="logout" class="nav invisible">
					<a id="btn-logout" href="#/logout" class="btn">LogOut</a>
				</li>
			</ul>
			<ul id="main-menu" class="nav navbar-nav navbar-center invisible">

				<li id="test">
					<a id="test-btn" href="#/test" class="btn-default navBtn">Test</a>
				</li>
				<li>&nbsp;&nbsp;&nbsp;</li>
				<li id="tasks">
					<a id="tasks-btn" href="#/tasks" class="btn-default navBtn">Tasks</a>
				</li>
				<li>&nbsp;&nbsp;&nbsp;</li>
				<li id="dictIt">
					<a id="dict-btn" href="#/dict" class="btn-default navBtn">Dictionary</a>
				</li>
				<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
				
				<li class="nav dropdown">
					<a class="btn dropdown-toggle" data-toggle="dropdown">View-side</a>
					<ul class="dropdown-menu">
						<li>
							<hr><a class="langs" href="#/html">HTML</a>
						</li>
						<li><a class="langs" href="#/css">CSS</a></li>
						<hr>
						<li><a class="langs" href="#/bootstrap">Bootstrap</a></li>
						<hr>
						<li><a class="langs" href="#/less">LESS</a></li>
						<li><a class="langs" href="#/sass">SASS</a></li>
						<li><a class="langs" href="#/stylus">Stylus</a></li>
						<hr>
					</ul>
				</li>
				<li class="nav dropdown">
					<a href="#" class="btn dropdown-toggle" data-toggle="dropdown">Client-side</a>
					<ul class="dropdown-menu">
						<li>
							<hr><a class="langs" href="#/javascript">JavaScript</a></li>
						<hr>
						<li><a class="langs" href="#/typescript">TypeScript</a></li>
						<hr>
						<li><a class="langs" href="#/jquery">JQuery</a></li>
						<hr>
						<li><a class="langs" href="#/angular">Angular</a></li>
						<hr>
						<li><a class="langs" href="#/react">React</a></li>
						<hr>
					</ul>
				</li>
				<li class="nav dropdown">
					<a href="#" class="btn dropdown-toggle" data-toggle="dropdown">Server-side</a>
					<ul class="dropdown-menu">
						<li>
							<hr><a class="langs" href="#/nodejs">NodeJS</a>
						</li><hr>
						<li><a class="langs" href="#/express">Express</a></li>
						<hr>
					</ul>
				</li>
				<li class="nav dropdown">
					<a href="#" class="btn dropdown-toggle" data-toggle="dropdown">DB-side</a>
					<ul class="dropdown-menu">
						<li>
							<hr><a class="langs" href="#/mongodb">MongoDB</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>