<nav class="navbar navbar-inverse navbar-static-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">
				<img id="brand" alt="Brand" src="./assets/images/icon-36x36.png">
				<a id="main-logo-name" class="navbar-brand">WebDJs&nbsp;&nbsp;&nbsp;</a>
			</a>
			<button class="btn btn-success navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
		</div>
		<div class="navbar-collapse navHeaderCollapse">
			<ul class="nav navbar-nav navbar-right">
				<li class="nav">
					<a href="#/login" class="btn dropdown-toggle" data-toggle="dropdown">Log In</a>
					<div class="dropdown-menu">
						<div class="log-in-form">
							<div class="log-form">
								<h1>Log In</h1>
								<hr>
								<div class="form-group">
									<label for="tb-username">Username: </label>
									<div class="input-group">
										<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
										<input id="tb-username" type="text" class="form-control">
									</div>
								</div>
								<div class="form-group">
									<label for="tb-passworn">Password: </label>
									<div class="input-group">
										<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
										<input id="tb-password" type="password" class="form-control">
									</div>
								</div>
								<button class="btn btn-success" id="btn-login">Log In</button>
							</div>
						</div>
					</div>
				</li>
				<li class="nav">
					<a href="#/register" class="btn dropdown-toggle" data-toggle="dropdown">Register</a>
					<div class="dropdown-menu">
						<div class="register-form">
							<div class="log-form">
								<h1>Register</h1>
								<hr>
								<div class="form-group">
									<label for="tb-username glyphicon glyphicon-user">Username: </label>
									<div class="input-group">
										<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
										<input id="tb-username" type="text" class="form-control">
									</div>
								</div>
								<div class="form-group">
									<label for="tb-passworn">Password: </label>
									<div class="input-group">
										<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
										<input id="tb-password" type="password" class="form-control">
									</div>
								</div>
								<div class="form-group">
									<label for="tb-passworn-confirm">Confirm Password: </label>
									<div class="input-group">
										<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
										<input id="tb-password-confirm" type="password" class="form-control">
									</div>
								</div>
								<button class="btn btn-primary" id="btn-register">Sign Up</button>
							</div>
						</div>
					</div>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-center">
				<li class="nav dropdown">
					<a class="btn dropdown-toggle" data-toggle="dropdown">User View</a>
					<ul class="dropdown-menu">
						<li>
							<hr><a class="langs" href="#/main/html">HTML</a>
						</li>
						<li><a class="langs" href="#/main/css">CSS</a></li>
						<hr>
						<li><a class="langs" href="#/main/bootstrap">Bootstrap</a></li>
						<hr>
						<li><a class="langs" href="#/main/less">LESS</a></li>
						<li><a class="langs" href="#/main/sass">SASS</a></li>
						<li><a class="langs" href="#/main/stylus">Stylus</a></li>
						<hr>
					</ul>
				</li>
				<li class="nav dropdown">
					<a href="#" class="btn dropdown-toggle" data-toggle="dropdown">Browser</a>
					<ul class="dropdown-menu">
						<li>
							<hr><a class="langs" href="#/main/typescript">JavaScript</a></li>
						<hr>
						<li><a class="langs" href="#/main/typescript">TypeScript</a></li>
						<hr>
						<li><a class="langs" href="#/main/jquery">JQuery</a></li>
						<hr>
						<li><a class="langs" href="#/main/angular">Angular</a></li>
						<hr>
						<li><a class="langs" href="#/main/react">React</a></li>
						<hr>
					</ul>
				</li>
				<li class="nav dropdown">
					<a href="#" class="btn dropdown-toggle" data-toggle="dropdown">Server</a>
					<ul class="dropdown-menu">
						<li>
							<hr><a class="langs" href="#/main/nodejs">NodeJS</a></li>
						<hr>
						<li><a class="langs" href="#/main/express">Express</a></li>
						<hr>
					</ul>
				</li>
				<li class="nav dropdown">
					<a href="#" class="btn dropdown-toggle" data-toggle="dropdown">DB</a>
					<ul class="dropdown-menu">
						<li>
							<hr><a class="langs" href="#/main/mongodb">MongoDB</a></li>
						<hr>
						<li><a class="langs" href="#/main/mongoose">Mongoose</a></li>
						<hr>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>